.form__close {
    transform: scale(0);
}

.form-container {
    /* position: fixed para que este elemento no tenga una posición fija
    en el body, si scrolleamos hacia abajo, sigue donde queremos :) */
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;

    backdrop-filter: blur(2px);
    background-color: #0003;
    display: grid;
    place-content: center;
    transition: transform 150ms ease;

    .form {
        width: 100%;
        max-width: 400px;
        background-color: white;
        padding: 2em 1.5em 2.5em;
        border-radius: 0.8em;
        display: grid;
        gap: 0.5em;
        position: relative;

        .form__header {

            .form__title {
                text-align: center;
                margin-bottom: 1em;
                font-weight: 700;
                font-size: 1.5rem;
                margin-top: 0.5em;
            }

            .form__exit {
                color: red;
                position: absolute;
                font-size: 1.3rem;
                font-weight: 600;
                top: 1em;
                right: 1.5em;
                cursor: pointer;
                font-family: Arial, Helvetica, sans-serif;
                width: 1.2em;
                aspect-ratio: 1;
                border-radius: 50%;
                border: 1px solid red;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .form__label {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;

            .form__field {
                font-weight: 400;
                padding-left: 1em;
            }

            .form__field-value {
                border: 1px solid #aaa;
                border-radius: 0.5em;
                padding: 0.5em 1.2em;
                font-weight: 600;
                width: 20em;
            }
        }

        .form__btn {
            margin-top: 1em;
            font-size: 1.1rem;
            padding: 0.3rem 1em;
            background-color: #555A88;
            color: white;
            border: none;
            border-radius: 0.4em;

            &:hover {
                filter: brightness(1.2);
            }
        }
    }
}